This notebook uses ipython-sql (pip install ipython-sql) to type SQL queries directly. Use %sql before a single-line query and %%sql before a multi-line query.

In [1]:
%load_ext sql

In [16]:
%sql postgresql://nwespe@localhost/birth_db

u'Connected: nwespe@birth_db'

In [18]:
# use SET search_path TO schema_name if schema is used
%sql reset search_path

Done.

[]

In [19]:
%%sql
SELECT * FROM birth_data_table # * means select all columns
LIMIT 10  # only return 10 rows
OFFSET 50  # start at row 50

10 rows affected.

[(50L, None, None, u'MD', None, u'Jan', None, 5000.0, 2012L, None, None, None, None, None, u'Fri', u'Vaginal', None, None, None, None, 42.0, u'F', 20L, None, None, None, u'Yes', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1325456800L, None, 30.0),
 (51L, None, None, u'MD', None, u'Jan', None, 3000.0, 2012L, None, None, None, None, None, u'Fri', u'Vaginal', None, None, None, None, 42.0, u'F', 20L, None, None, None, u'Yes', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1326371490L, None, 32.0),
 (52L, None, None, u'MD', None, u'Jan', None, 3000.0, 2012L, None, None, None, None, None, u'Sun', u'Vaginal', None, None, None, None, 38.0, u'F', 21L, None, None, None, u'No', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1327245443L, None, 24.0),
 (53L, None, None, u'MD', None, u'Feb', None, 4000.0, 2012L, None, None, None, None, None, u'Wed', u'Cesarean', None, None, None, None, 39.0, u'M', 35L, None, None, None, u'Yes', u'White', None, None, None, u'Intra-State/Territor Non-resident (diff county)', u'S', None, u'births12.txt', 1328148996L, None, 30.0),
 (54L, None, None, u'MD', None, u'Feb', None, 3000.0, 2012L, None, None, None, None, None, u'Wed', u'Vaginal', None, None, None, None, 38.0, u'F', 29L, None, None, None, u'Yes', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1328933795L, None, 34.0),
 (55L, None, None, u'MD', None, u'Feb', None, 2000.0, 2012L, None, None, None, None, None, u'Sat', u'Vaginal', None, None, None, None, 31.0, u'M', 27L, None, None, None, u'No', u'Black', None, None, None, u'Intra-State/Territor Non-resident (diff county)', u'S', None, u'births12.txt', 1329753116L, None, 25.0),
 (56L, None, None, u'MD', None, u'Mar', None, 4000.0, 2012L, None, None, None, None, None, u'Tu', u'Vaginal', None, None, None, None, 40.0, u'F', 18L, None, None, None, u'No', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1330659032L, None, 50.0),
 (57L, None, None, u'MD', None, u'Mar', None, 4000.0, 2012L, None, None, None, None, None, u'Sun', u'Vaginal', None, None, None, None, 38.0, u'F', 29L, None, None, None, u'Yes', u'Black', None, None, None, u'Resident', u'S', None, u'births12.txt', 1331541002L, None, 50.0),
 (58L, None, None, u'MD', None, u'Mar', None, 4000.0, 2012L, None, None, None, None, None, u'Mon', u'Vaginal', None, None, None, None, 39.0, u'F', 29L, None, None, None, u'No', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1332469424L, None, 31.0),
 (59L, None, None, u'MD', None, u'Apr', None, 4000.0, 2012L, None, None, None, None, None, u'Sat', u'Vaginal', None, None, None, None, 39.0, u'M', 30L, None, None, None, u'No', u'White', None, None, None, u'Resident', u'S', None, u'births12.txt', 1333389308L, None, 3.0)]

What is the most common day for a delivery?

Let's first create a view containing the days of the week and the count for each day

In [43]:
%%sql 
CREATE VIEW day_counts AS
SELECT day, COUNT(*) AS count
FROM birth_data_table
GROUP BY day

(psycopg2.ProgrammingError) relation "day_counts" already exists
 [SQL: 'CREATE VIEW day_counts AS\nSELECT day, COUNT(*) AS count\nFROM birth_data_table\nGROUP BY day']

In [44]:
%sql SELECT * FROM day_counts

7 rows affected.

[(u'Tu', 449L),
 (u'Sat', 307L),
 (u'Mon', 403L),
 (u'Wed', 415L),
 (u'Sun', 281L),
 (u'Th', 432L),
 (u'Fri', 429L)]

We can view this table ordered by count.

In [46]:
%%sql 
SELECT * 
FROM day_counts 
ORDER BY count DESC  # order in descending

7 rows affected.

[(u'Tu', 449L),
 (u'Th', 432L),
 (u'Fri', 429L),
 (u'Wed', 415L),
 (u'Mon', 403L),
 (u'Sat', 307L),
 (u'Sun', 281L)]

For a solution with one query and one sub-query, see below. Note that this solution creates a temporary table instead of a view.

In [62]:
%%sql
SELECT day
FROM (SELECT day, COUNT(*) AS count  # the parentheses enclose a subquery
      FROM birth_data_table
      GROUP BY day
     ) AS day_counts  # name the temporary table
WHERE count = (SELECT MAX(count) FROM day_counts)

1 rows affected.

[(u'Tu',)]